.s_appointments_container {
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #E2E2E2;
    background-color: #FBFBFB;
    width: 33%;
    min-width: 519px;

    .title {
        h2 {
            font-family: 'SFProDisplayBold';
            font-size: 32px;
            font-weight: 800;
            line-height: 38px;
            letter-spacing: 0.005em;
            text-align: left;

        }
    }

    .appointments_search {
        padding: 0px 16px 0px 0px;
        border-radius: 12px;
        border: 1px solid #0000001A;
        gap: 10px;
        height: 48px;
        background-color: #FFFFFF;

        input {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 12px;
            padding-left: 48px;
            font-family: 'SFProDisplayRegular';
        }

        input:focus {
            outline: 0;

        }

        input::placeholder {
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.019em;
            text-align: left;
        }
    }

    .appointments_wrapper_t {
        height: 70%;
    }


    .navigations {
        top: 198px;
        gap: 16px;
        height: 40px;
        border-bottom: 1px solid #E2E8F0;

        span {
            font-family: 'SFProDisplayRegular';
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.005em;
            text-align: left;
            margin-bottom: 20px;
        }

        .navigation_item {
            cursor: pointer;

            div {
                height: 4px;
            }

            .active {

                width: 100%;
                border-radius: 12px 12px 0px 0px;
                background-color: #2563EB;
            }
        }


    }

    .appointments_t {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
    }

    .appointments_t::-webkit-scrollbar {
        width: 2px;
    }

    .appointment_card_t {
        width: 100%;
        gap: 16px;
        padding: 24px 0;
        border-bottom: 1px solid #E2E2E2;

        .doc_profile_photo {
            height: 80px;
            width: 80px;
            border-radius: 40px;
        }

        .appointment_info {
            min-height: 210px;
        }

        h2 {
            font-family: 'SFProDisplayMedium';
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.005em;
            text-align: left;
        }

        .appointment_desc {
            font-family: 'SFProDisplayRegular';
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #1F2937;
            opacity: 70%;

            strong {
                font-family: 'SFProDisplayMedium';
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.005em;

            }
        }

        .client_pet_info {
            font-family: 'SFProDisplayRegular';
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #2563EB;
        }

        span {
            font-family: 'SFProDisplayRegular';
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #646464;

            img {
                margin-right: 10px;
            }
        }

        .action_buttons {
            gap: 24px;
        }
    }

    .appointment_card_t:last-child {
        border: none;
    }
}



.notifications {
    position: absolute;
    width: 364px;
    height: 364px;
    right: 180px;
    top: 60px;
    border-radius: 32px;
    background-color: #FFFFFF;

    .notifications_header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        background-color: #272B30;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 29px;

        span {
            font-family: 'SFProDisplayMedium';
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            color: #fff;
        }

        span:last-child {
            color: #28FF9D
        }
    }

    .notifications_wrapper {
        margin-top: 48px;
        padding: 16px;
    }

    .notification {
        gap: 16px;
        width: 100%;
        height: 65px;
        border-bottom: 1px solid #E2E8F0;

        .nt_content {
            width: 100%;
            height: 48px;
            display: flex;
            align-items: center;
            gap: 14px;

            img {
                border-radius: 24px;
            }

            .nt-text {
               p{
                gap: 8px;
                font-family: 'SFProDisplayRegular';
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                span {
                    color: #2563EB;
                }
               }

                span {
                    font-family: 'SFProDisplayRegular';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                    color: #37404D;

                }
            }
        }
    }
}