@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-blue: #F8FAFC;
}

@font-face {
  font-family: 'SFProDisplayRegular';
  src: url("/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format('truetype');
}

@font-face {
  font-family: 'SFProDisplayBold';
  src: url("/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF") format('truetype');
}

@font-face {
  font-family: 'SFProDisplayMedium';
  src: url("/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format('truetype');
}

@font-face {
  font-family: 'MonaSansRegular';
  src: url("/fonts/mona_sans/TTF/Mona-Sans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'MonaSansMedium';
  src: url("/fonts/mona_sans/TTF/Mona-Sans-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'MonaSansBold';
  src: url("/fonts/mona_sans/TTF/Mona-Sans-Bold.ttf") format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





.page_wrapper {
  padding: 140px 80px;
}

.profile-and-stats {
  max-width: 1470px;
}

.button_filled {
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  gap: 10px;
  background-color: #2563EB;
  box-shadow: 0px -3px 0px 0px #00000040 inset;
  font-family: 'SFProDisplayMedium';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  color: #fff;
}


.button_outlined {
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  border: 1px solid #2563EB;
  gap: 10px;
  color: #2563EB;
  font-family: 'SFProDisplayMedium';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
}

.button_outlined_danger {
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  border: 1px solid #FF4B4B;
  gap: 10px;
  color: #FF4B4B;
  font-family: 'SFProDisplayMedium';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
}